
USP.DataStructures.Practice.Console/bin/Debug/netcoreapp3.1/USP.DataStructures.Practice.Console.dll
.vs/slnx.sqlite
.vs/usp-datastructures-practice/v16/.suo
.vs/USP.DataStructures.Practice/DesignTimeBuild/.dtbcache.v2
.vs/USP.DataStructures.Practice/v16/.suo
USP.DataStructures.Practice.Console/.vs/USP.DataStructures.Practice/v16/.suo
USP.DataStructures.Practice.Console/bin/Debug/netcoreapp3.1/USP.DataStructures.Practice.Console.deps.json
USP.DataStructures.Practice.Console/bin/Debug/netcoreapp3.1/USP.DataStructures.Practice.Console.exe
USP.DataStructures.Practice.Console/bin/Debug/netcoreapp3.1/USP.DataStructures.Practice.Console.pdb
USP.DataStructures.Practice.Console/bin/Debug/netcoreapp3.1/USP.DataStructures.Practice.Console.runtimeconfig.dev.json
USP.DataStructures.Practice.Console/bin/Debug/netcoreapp3.1/USP.DataStructures.Practice.Console.runtimeconfig.json
USP.DataStructures.Practice.Console/bin/Debug/netcoreapp3.1/USP.DataStructures.Practice.Library.dll
USP.DataStructures.Practice.Console/bin/Debug/netcoreapp3.1/USP.DataStructures.Practice.Library.pdb
USP.DataStructures.Practice.Console/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
USP.DataStructures.Practice.Console/obj/Debug/netcoreapp3.1/apphost.exe
USP.DataStructures.Practice.Console/obj/Debug/netcoreapp3.1/USP.DataStructures.Practice.Console.AssemblyInfo.cs
USP.DataStructures.Practice.Console/obj/Debug/netcoreapp3.1/USP.DataStructures.Practice.Console.AssemblyInfoInputs.cache
USP.DataStructures.Practice.Console/obj/Debug/netcoreapp3.1/USP.DataStructures.Practice.Console.assets.cache
USP.DataStructures.Practice.Console/obj/Debug/netcoreapp3.1/USP.DataStructures.Practice.Console.csproj.CopyComplete
USP.DataStructures.Practice.Console/obj/Debug/netcoreapp3.1/USP.DataStructures.Practice.Console.csproj.CoreCompileInputs.cache
USP.DataStructures.Practice.Console/obj/Debug/netcoreapp3.1/USP.DataStructures.Practice.Console.csproj.FileListAbsolute.txt
USP.DataStructures.Practice.Console/obj/Debug/netcoreapp3.1/USP.DataStructures.Practice.Console.csprojAssemblyReference.cache
USP.DataStructures.Practice.Console/obj/Debug/netcoreapp3.1/USP.DataStructures.Practice.Console.dll
USP.DataStructures.Practice.Console/obj/Debug/netcoreapp3.1/USP.DataStructures.Practice.Console.genruntimeconfig.cache
USP.DataStructures.Practice.Console/obj/Debug/netcoreapp3.1/USP.DataStructures.Practice.Console.pdb
USP.DataStructures.Practice.Console/obj/project.assets.json
USP.DataStructures.Practice.Console/obj/project.nuget.cache
USP.DataStructures.Practice.Console/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
USP.DataStructures.Practice.Console/obj/Release/netcoreapp3.1/USP.DataStructures.Practice.Console.AssemblyInfo.cs
USP.DataStructures.Practice.Console/obj/Release/netcoreapp3.1/USP.DataStructures.Practice.Console.AssemblyInfoInputs.cache
USP.DataStructures.Practice.Console/obj/Release/netcoreapp3.1/USP.DataStructures.Practice.Console.assets.cache
USP.DataStructures.Practice.Console/obj/USP.DataStructures.Practice.Console.csproj.nuget.dgspec.json
USP.DataStructures.Practice.Console/obj/USP.DataStructures.Practice.Console.csproj.nuget.g.props
USP.DataStructures.Practice.Console/obj/USP.DataStructures.Practice.Console.csproj.nuget.g.targets
USP.DataStructures.Practice.Library/bin/Debug/netcoreapp3.1/USP.DataStructures.Practice.Library.deps.json
USP.DataStructures.Practice.Library/bin/Debug/netcoreapp3.1/USP.DataStructures.Practice.Library.dll
USP.DataStructures.Practice.Library/bin/Debug/netcoreapp3.1/USP.DataStructures.Practice.Library.pdb
USP.DataStructures.Practice.Library/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
USP.DataStructures.Practice.Library/obj/Debug/netcoreapp3.1/USP.DataStructures.Practice.Library.AssemblyInfo.cs
USP.DataStructures.Practice.Library/obj/Debug/netcoreapp3.1/USP.DataStructures.Practice.Library.AssemblyInfoInputs.cache
USP.DataStructures.Practice.Library/obj/Debug/netcoreapp3.1/USP.DataStructures.Practice.Library.assets.cache
USP.DataStructures.Practice.Library/obj/Debug/netcoreapp3.1/USP.DataStructures.Practice.Library.csproj.CoreCompileInputs.cache
USP.DataStructures.Practice.Library/obj/Debug/netcoreapp3.1/USP.DataStructures.Practice.Library.csproj.FileListAbsolute.txt
USP.DataStructures.Practice.Library/obj/Debug/netcoreapp3.1/USP.DataStructures.Practice.Library.csprojAssemblyReference.cache
USP.DataStructures.Practice.Library/obj/Debug/netcoreapp3.1/USP.DataStructures.Practice.Library.dll
USP.DataStructures.Practice.Library/obj/Debug/netcoreapp3.1/USP.DataStructures.Practice.Library.pdb
USP.DataStructures.Practice.Library/obj/project.assets.json
USP.DataStructures.Practice.Library/obj/project.nuget.cache
USP.DataStructures.Practice.Library/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
USP.DataStructures.Practice.Library/obj/Release/netcoreapp3.1/USP.DataStructures.Practice.Library.AssemblyInfo.cs
USP.DataStructures.Practice.Library/obj/Release/netcoreapp3.1/USP.DataStructures.Practice.Library.AssemblyInfoInputs.cache
USP.DataStructures.Practice.Library/obj/Release/netcoreapp3.1/USP.DataStructures.Practice.Library.assets.cache
USP.DataStructures.Practice.Library/obj/USP.DataStructures.Practice.Library.csproj.nuget.dgspec.json
USP.DataStructures.Practice.Library/obj/USP.DataStructures.Practice.Library.csproj.nuget.g.props
USP.DataStructures.Practice.Library/obj/USP.DataStructures.Practice.Library.csproj.nuget.g.targets
